body
	background-color #EEE

ul
	list-style none

a
	color blue
	text-decoration underline
	cursor pointer

.left-pane, .hire-faceted-search > ul
	float left
	width 33.33%


.right-pane, .hire-faceted-search-results
	padding-left calc(33.33% + 20px)

.facsimile
	height 400px
	width 100%
	border none

