body
	background-color #EEE

ul
	list-style none

a
	color blue
	text-decoration underline
	cursor pointer


.highlighted
	background-color #FF0

.left-pane
	float left
	width 33.33%

.right-pane
	padding-left calc(33.33% + 20px)

.facsimile
	height 400px
	width 100%
	border none

.annotations
	border-top 1px dotted #aaa
	margin-top 12px
	padding-top 12px

.annotations *
	transition background-color 0.4s
